/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* <!-- -------------------- Header Styles ------------------ --> */
/* General Styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

ul,
ol {
  list-style: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  margin: 0;
      font-weight: normal;

}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin: 0;
    font-weight: normal;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  margin:0;
  font-weight: normal;
}

p {}

  img {
  	width: 100%;
  }

  figure {
          margin: 0;
  }

address {
  font-style: normal;
}

.content-wrapper {}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202322;
  color: #aeb0b7;
}


header .content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

header .header-divider {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.hero-area {
  margin: 0;
  width: 100%;
  background: url('../img/hero.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333;
  min-height: 500px;
}

.hero-area h3 {
  margin: auto;
  width: 85%;
  color: #e2e3ed;
  /* font-size: 2.75em; */
  padding-top: 40px;
}
.features i{
  font-size:3.75em;
  margin-bottom: 40px;
}

.social{
  padding: 20px 0;
}
.social-icons i{
  font-size:3.75em;
  margin: 20px 20px 0;

  align-items: center;
}


/* <!-- -------------------- Mobile Styles - Homepage------------------ --> */

header figure{
  width:60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

nav ul {
  flex-flow: row wrap;
  display: flex;
  padding: 0;
}

li {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

header h1 {
  margin: auto;
  width: 85%;
}

.content-wrapper {
  margin: auto;
  width: 85%;
}

aside {
  /* display: flex;
  justify-content: center;
  align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; */
}

.newsletter {
  margin: auto;
  background-color: #527158;
  color: #e2e3ed;
}

.newsletter-content {
  margin: auto;
  width: 85%;
  color: #e2e3ed;
  padding: 20px 0 20px 0;
}

.features{
  background: url(../img/camping.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333;
    color: #e2e3ed;
        padding: 30px 0;
}

.features-header {
  margin: auto;
  width: 85%;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.features article {
  width: 55%;
}


.features p {
  padding: 0;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #e2e3ed;
  background-color: #2a423a;
  padding: 30px 0;
}

 .reviews h3{

      padding-bottom: 20px;
}

.faq-column h4 {
  padding-top: 40px;
}
.mission {
  background-color: #527158;
  color: #bcc5c5;
  padding: 30px 0;
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }




.contact-section {
  background-color: #2a423a;
  color: #e2e3ed;
  padding: 40px 0;
}

.contact-header{
  padding: 30px 0 30px;
}

.faq {
  background-color: #527158;
  color: #e2e3ed;
  padding: 30px 0;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

footer .content-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; */
  text-align: center;
  width: 55%
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  /* width:55% */
  /* margin:50px 0; */
}

footer .contact h3 {
  font-weight: 500;
}

footer .social h3 {
  font-weight: 500;
}

footer .copyright {}

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {

  /* Tablets */
  .content-wrapper {
    /* width:83%; */
  }
  header figure{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  header .content-wrapper {
    margin: auto;
    width: 85%;
    display: flex;
    flex-flow: nowrap;
  }

  .features {
    padding: 30px 0 30px 0;
  }

  .features-items {
    margin: auto;
    width: 67%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
  }

  .features article {
    /* flex-flow: row wrap; */
    width: 35%;
  }

  .mission-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .faq-columns {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /* flex-flow: row wrap; */
    /* padding: 15px; */
  }

  .contact-columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding:15px; */
  }

  .mission-column {
    width: 90%;
  }

  .reviews {
    padding: 30px 0 30px 0;
  }

  .review-table {
    display: flex;
  }

  .review-content{
    padding-left: 30px;
  }

  .newsletter {
    margin: auto;
    display: flex;
  }

  .newsletter-content {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    padding: 30px 0 30px 0;
  }

  .footer-content {
    padding: 30px;
  }

  .form-description {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1200px) {

  /* Desktop */
  header .content-wrapper {
    margin: auto;
    width: 80%;
  }

  .hero-area h3 {
    font-size: 2.75em;
  }

  .newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 30px;
  }

  /* .form-description {
    width: 26%;
  } */
  .newsletter-form {
    min-width: 30%;
  }

  .features {
    padding: 70px 0 70px 0;
  }

  .features-header{
    padding-bottom: 40px;
  }

  .features article {
    width: 30%;
  }

  .features-items {
    margin: auto;
    width: 80%;
  }

  .features-item-description{
    margin: auto;
    width:80%;
  }

  .reviews {
    padding: 30px 0 30px 0;
  }

  .review-content{
    padding-left: 30px;
  }

  .review-table {
    display: flex;
  }

  .faq {
    padding: 50px 0 50px 0;
        line-height: 1.5;
  }

  .faq-column {
    padding-right: 60px;
  }
  /* .faq-column h4 {
    padding-top: 40px;
  } */
  .footer {
    margin: auto;
    width: 65%;
  }

  .footer-content {
    padding: 30px;
  }

  .contact-section .content-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .mission .content-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .mission h2 {
    font-weight: 500;
  }

.mission-content{
      line-height: 1.5;
}
  .mission-column {
    padding-right: 60px;
      }

  .contact-section h3, h4 {
    font-weight: 500;
  }

  .contact-columns {
    line-height: 1.5;
  }
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
